<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../parcials/head.ejs')%>
    <link rel="stylesheet" href="/css/bots.css">
</head>

<body>
        <%-include('../parcials/nav.ejs')%>
        
   <section id="inicio">
      <img src="/img/canapes.jpg" alt="">
      <div class="bloque-inicio">
          <h1>Bienvenidos a Gourmandises</h1>
          <H2>HAZ TU PEDIDO!!</H2>
          <form id=form>
          <label for="GET-Direccion" class="le tu">Ingrese su direccion:</label>
          <input class="le ol" id="GET-Direccion" type="text" name="direccion" placeholder="ej---Av. Santafe223">
          <input class="le do" type="submit" value="Buscar">
        </form>
      </div>
  </section>
    
    <div class="row">
      <% bots.forEach(product=> { %>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="<%=product.imagen%>" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%-product.name%></h5>
            <p class="card-text"><%-product.description%></p>
            <a href="#" class="btn btn-primary">Comprar</a>
            <a href="#" class="btn btn-outline-primary">Agregar al carrito</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  
    
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"></script>

</body>

</html>